pandas==2.2.2
nltk==3.9.1
nltk.stem.porter
numpy 
geopandas
shapely.geometry 
matplotlib.pyplot 
plotly.graph_objects 
plotly.express
re
spacy
collections
string
sklearn
streamlit==1.41.1
transformers
wordcloud
pydeck
