pandas 
nltk
nltk.stem.porter
numpy 
pandasql 
geopandas
shapely.geometry 
matplotlib.pyplot 
plotly.graph_objects 
plotly.express
pandas
numpy 
re
spacy
collections
re
string
re
sklearn
streamlit
transformers
wordcloud
pydeck
nltk.download( 'stopwords' )
nltk.download('punkt')